
<div class="container">
  <div class="section-title">
      <h2><span>Service</span> Organizing</h2>
      <p>Providing you the best range of Marriage Organizing Services, Wedding Organizing Services, Wedding Planning Services and Wedding Planners with effective & timely delivery.
      </p>
  </div>
  <div class="row">
    <div class="carousel" data-flickity='{ "cellAlign": "left", "wrapAround": true, "contain": true, "pageDots": false, "autoPlay": 1500,
    "pauseAutoPlayOnHover": true }'>
      <div class="col-md-3 col-xs-12 col-sm-6">
        <div class="carousel-cell">
          <div class="thumbnail">
              <div class="inner">
                  <img class="hvr-grow1" src="../../../../assets/Images/ServiceOrgImges/soi (1).jpg" alt="...">
              </div>
              <div class="caption">
                  <h3>Band</h3>
                  <p>
                    We provide Bands for Wedding or instrumental Music Bands for Rajasthani Wedding, Music Bands for Marwadi Wedding, Music Bands for Panjabi Wedding. Some other bands are Music Bands for the south Indian Wedding, Instrumentalist for Rajasthani Wedding, Instrumentalist for Gujrati Wedding, instrumentalist for a Punjabi Wedding, instrumentalist for a Marwari Wedding, instrumentalist for a south Indian wedding, private party, corporate party, and occasional festivals, etc.
                  </p>
                  <p>
                      <a href="#" class="btn btn-warning btn-block" role="button">BookNow</a>
                  </p>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-12 col-sm-6">
        <div class="carousel-cell">
          <div class="thumbnail">
              <div class="inner">
                  <img class="hvr-grow1" src="../../../../assets/Images/ServiceOrgImges/soi (2).jpg" alt="...">
              </div>
              <div class="caption">
                  <h3>Flower Decoration</h3>
                  <p>
                    No wedding feels truly complete without wedding decorations. However once-in-a-lifetime celebration that you've always dreamed of. Now, wedding decorations don't come easy, they requires a lot of thought and deliberate preparation. So before you go out there and scout your wedding decorations, equip yourself with some basic decor knowledge.

You don't really have to decorate every single nook and cranny to make a huge impact, as long as you focus on these basic wedding decoration elements.

                  </p>
                  <p>
                      <a href="#" class="btn btn-warning btn-block" role="button">BookNow</a>
                  </p>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-12 col-sm-6">
        <div class="carousel-cell">
          <div class="thumbnail">
              <div class="inner">
                  <img class="hvr-grow1" src="../../../../assets/Images/ServiceOrgImges/soi (3).jpg" alt="...">
              </div>
              <div class="caption">
                  <h3>Flowers</h3>
                  <p>You're probably familiar with some of the most common wedding flower arrangements, such as bouquets, boutonnieres, and centerpieces, but it turns out that they're just the tip of the iceberg when it comes to using flowers on the big day. Aside from these popular options, there are dozens of additional ways to use flowers at your wedding, from ceremony altars to welcome table decor. Flowers are a gorgeous way to customize your wedding by bringing your vision to life, but the first step is figuring out exactly what you'll need. </p>
                  <p>
                      <a href="#" class="btn btn-warning btn-block" role="button">BookNow</a>
                  </p>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-12 col-sm-6">
        <div class="carousel-cell">
          <div class="thumbnail">
              <div class="inner">
                  <img class="hvr-grow1" src="../../../../assets/Images/ServiceOrgImges/soi (4).jpg" alt="...">
              </div>
              <div class="caption">
                  <h3>Music</h3> 
                  <p>
                    Firstly, your big entrance. When it comes to choosing music for weddings, start with the pre-ceremony music. The pre-ceremony music is played right from the start of the day, as people are arriving and taking their seats in your ceremony room.

There will likely be some chatting and general hustle and bustle as people greet each other and look for their seat. Some light classical music would be perfect at this point, or some chilled piano or guitar. Here are a couple of relaxed yet traditional options.
                  </p>
                  <p>
                      <a href="#" class="btn btn-warning btn-block" role="button">BookNow</a>
                  </p>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-12 col-sm-6">
        <div class="carousel-cell">
          <div class="thumbnail">
              <div class="inner">
                  <img class="hvr-grow1" src="../../../../assets/Images/ServiceOrgImges/soi (5).jpg" alt="...">
              </div>
              <div class="caption">
                  <h3>Photography</h3>
                  <p>
                    Wedding photography is a mixture of many other photographic genres.It incorporates portraiture, family and group photography, documentary, boudoir, event, and close-up images.
Perhaps it even incorporates landscapes. This is especially true if the location is particularly beautiful or important.Then compile a list so that you can check each shot off. This is particularly helpful in family shots. There’s nothing worse than getting the photos back and realizing you didn’t photograph the happy couple with Grandma!
                  </p>
                  <p>
                      <a href="#"  class="btn btn-warning btn-block" role="button">BookNow</a>
                  </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>