<div class="container">

  <div class="section-title">
      <h2><span>Events</span> Organizing</h2>
      <p>Event tools are an event organisers best friend</p>
    </div>
  <div class="row">
    <div class="carousel" data-flickity='{ "cellAlign": "left", "prevNextButtons": false, "wrapAround": false, "contain":      true, "pageDots": false,
    "pauseAutoPlayOnHover": true }'>
      <div class="col-md-3 col-xs-12">
        <div class="carousel-cell">
            <div class="thumbnail">
              <div class="inner">
                  <img class="hvr-grow1" src="../../../../assets/Images/EventOrgImges/eoi (1).jpg" alt="...">
              </div>
              <div class="caption">
                  <h3>DJ <br>Night</h3>
                  <p>
                    When you talk about making a wedding fun, how can any occasion be fun without music? And what better way to bring the energy to your wedding celebrations than a DJ in the house! Music is the only thing in the world which brings the most boring and dullest people alive. A DJ will keep the crowd entertained all throughout the wedding!  It will also keep the gossip mongers away. Obviously, not. Music keeps everyone occupied.
                  </p>
                  <p>
                      <a href="#" class="btn btn-warning btn-block" role="button">BookNow</a>
                  </p>
              </div>
            </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-12">
        <div class="carousel-cell">
          <div class="thumbnail">
              <div class="inner">
                  <img class="hvr-grow1" src="../../../../assets/Images/EventOrgImges/eoi (2).jpg" alt="...">
              </div>
              <div class="caption">
                  <h3>Mehndi <br>Ceremony</h3>
                  <p>Mehndi is a paste associated with positive spirits and good luck.It is organized by the Bride’s family bringing together the female components of each side.Mehndi is mainly for females,relatives are invited to join in on the party that comes after the Bride has completed her henna.Henna is applied to both the hands and the feet as a means of cooling the nerve-endings of the body,preventing the nerves from tensing up.</p>
                  <p>
                      <a href="#" class="btn btn-warning btn-block" role="button">BookNow</a>
                  </p>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-12">
        <div class="carousel-cell">
          <div class="thumbnail">
              <div class="inner">
                  <img class="hvr-grow1" src="../../../../assets/Images/EventOrgImges/eoi (3).png" alt="...">
              </div>
              <div class="caption">
                  <h3>Groom's Arrival <br>Celebration</h3>
                  <p>Welcoming the groom is an important part of every Indian wedding. There are various rituals in different parts of India, which are followed by the bride’s family to welcome the groom and his guests on the wedding day. These rites symbolise the happiness of the bride’s family as they unite with the groom and his family. So, let us take a look at how the grooms and their baraats are welcomed in different ways across India.</p>
                  <p>
                      <a href="#" class="btn btn-warning btn-block" role="button">BookNow</a>
                  </p>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-12">
        <div class="carousel-cell">
          <div class="thumbnail">
              <div class="inner">
                  <img class="hvr-grow1" src="../../../../assets/Images/EventOrgImges/eoi (4).jpg" alt="...">
              </div>
              <div class="caption">
                  <h3>Sangeeth<br>Ceremony</h3>
                  <p>The word “Sangeet “ means  music, but when it is used as a term to describe a celebratory event during an Indian wedding it translates to Music Night or Musical party. This musical night is a celebration of the union of not only the couple but the bonding of both families. It is here that both sides bring down their barriers and mingle in a fun environment.But most of the sangeet parties are huge and loud and every bit like a reception but super fun.

                  </p>
                  <p>
                      <a href="#" class="btn btn-warning btn-block" role="button">BookNow</a>
                  </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>