<section id="gallery" class="gallery">
  <div class="container-fluid">

    <div class="section-title">
      <h2>Popular  <span> Open Gardens</span></h2>
      <!-- <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae
        autem.</p> -->
    </div>

    <div class="row row-no-gutters">

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="#" class="venobox" data-gall="gallery-item">
            <img src="../../.././../assets/Images/GardenImges/gi (1).jpg" alt="" class="img-fluid">
          </a>
          <div class="text-block">
            <h4>Auspacious Convention Centre</h4>
            <p>Kompally, Hyderabad</p>
            <button type="button" class="btn btn-warning">BookNow</button>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="#" class="venobox" data-gall="gallery-item">
            <img src="../../.././../assets/Images/GardenImges/gi (2).png" alt="" class="img-fluid">
          </a>
          <div class="text-block">
            <h4>OM Convention</h4>
            <p> Narsingi, Hyderabad</p>
            <button type="button" class="btn btn-warning ">BookNow</button>

          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="#" class="venobox" data-gall="gallery-item">
            <img src="../../.././../assets/Images/GardenImges/gi (3).jpg" alt="" class="img-fluid">
          </a>
          <div class="text-block">
            <h4>Classic Gardens</h4>
            <p>Secunderabad, Hyderabad
            </p>
            <button type="button" class="btn btn-warning ">BookNow</button>

          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="#" class="venobox" data-gall="gallery-item">
            <img src="../../.././../assets/Images/GardenImges/gi (4).png" alt="" class="img-fluid">
          </a>
          <div class="text-block">
            <h4>Akshara Grand</h4>
            <p>Kothapet, Hyderabad</p>
            <button type="button" class="btn btn-warning ">BookNow</button>

          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="#" class="venobox" data-gall="gallery-item">
            <img src="../../.././../assets/Images/GardenImges/gi (5).jpg" alt="" class="img-fluid">
          </a>
          <div class="text-block">
            <h4>Cyber Conventions</h4>
            <p> Kondapur, Hyderabad</p>
            <button type="button" class="btn btn-warning ">BookNow</button>

          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="#" class="venobox" data-gall="gallery-item">
            <img src="../../.././../assets/Images/GardenImges/gi (6).png" alt="" class="img-fluid">
          </a>
          <div class="text-block">
            <h4>Surabhi Grand</h4>
            <p> Amberpet, Hyderabad</p>
            <button type="button" class="btn btn-warning ">BookNow</button>

          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="#" class="venobox" data-gall="gallery-item">
            <img src="../../.././../assets/Images/GardenImges/gi (7).jpg" alt="" class="img-fluid">
          </a>
          <div class="text-block">
            <h4>Hotel Green Park</h4>
            <p>Begumpet, Hyderabad</p>
            <button type="button" class="btn btn-warning ">BookNow</button>

          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="#" class="venobox" data-gall="gallery-item">
            <img src="../../.././../assets/Images/GardenImges/gi (8).png" alt="" class="img-fluid">
          </a>
          <div class="text-block">
            <h4>Avasa Gardens</h4>
            <p>Madhapur, Hyderabad</p>
            <button type="button" class="btn btn-warning ">BookNow</button>

          </div>
        </div>
      </div>

    </div>

  </div>
</section>