
<div class="gallery">
  <div class="container-fluid">
      <div class="section-title">
          <h2>Popular <span>Hotels</span></h2>
          <!-- <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> -->
      </div>
      <div class="row row-no-gutters">
          <div class="carousel"
              data-flickity='{ "autoPlay": 1500, "fade": true, "contain": true, "prevNextButtons": false, "pauseAutoPlayOnHover": true, "wrapAround": true }'>
              <div class="col-md-3 col-xs-12">
                  <div class="carousel-cell">
                      <div class="gallery-item">
                          <a href="#" class="venobox" data-gall="gallery-item">
                            <img src="../../../../assets/Images/HotelImages/hi (1).png" alt="" class="img-fluid">
                          </a>
                          <div class="text-block">
                            <h4>Sri Hotel</h4>
                            <p>Hyderabad,Telangana</p>
                            <button type="button" class="btn btn-warning ">BookNow</button>
                          </div>
                        </div>
                  </div>
              </div>
              <div class="col-md-3 col-xs-12">
                  <div class="carousel-cell">
                      <div class="carousel-cell">
                          <div class="gallery-item">
                              <a href="#" class="venobox" data-gall="gallery-item">
                                <img src="../../../../assets/Images/HotelImages/hi (2).jpg" alt="" class="img-fluid">
                              </a>
                              <div class="text-block">
                                <h4>GMR Hotel</h4>
                                <p>Hyderabad,Telangana</p>
                                <button type="button" class="btn btn-warning ">BookNow</button>
                              </div>
                            </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-xs-12">
                  <div class="carousel-cell">
                      <div class="carousel-cell">
                          <div class="gallery-item">
                              <a href="#" class="venobox" data-gall="gallery-item">
                                <img src="../../../../assets/Images/HotelImages/hi (3).png" alt="" class="img-fluid">
                              </a>
                              <div class="text-block">
                                <h4>Swetha Hotel</h4>
                                <p>Hyderabad,Telangana</p>
                                <button type="button" class="btn btn-warning ">BookNow</button>
                              </div>
                            </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-xs-12">
                  <div class="carousel-cell">
                      <div class="carousel-cell">
                          <div class="gallery-item">
                              <a href="#" class="venobox" data-gall="gallery-item">
                                <img src="../../../../assets/Images/HotelImages/hi (4).png" alt="" class="img-fluid">
                              </a>
                              <div class="text-block">
                                <h4>Nknr Hotel</h4>
                                <p>Hyderabad,Telangana</p>
                                <button type="button" class="btn btn-warning ">BookNow</button>
                              </div>
                            </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-xs-12">
                  <div class="carousel-cell">
                      <div class="carousel-cell">
                          <div class="gallery-item">
                              <a href="#" class="venobox" data-gall="gallery-item">
                                <img src="../../../../assets/Images/HotelImages/hi (5).png" alt="" class="img-fluid">
                              </a>
                              <div class="text-block">
                                <h4>Rajha Hotel</h4>
                                <p>Hyderabad,Telangana</p>
                                <button type="button" class="btn btn-warning ">BookNow</button>
                              </div>
                            </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-xs-12">
                  <div class="carousel-cell">
                      <div class="carousel-cell">
                          <div class="gallery-item">
                              <a href="#" class="venobox" data-gall="gallery-item">
                                <img src="../../../../assets/Images/HotelImages/hi (6).png" alt="" class="img-fluid">
                              </a>
                              <div class="text-block">
                                <h4>Mohini Hotel</h4>
                                <p>Hyderabad,Telangana</p>
                                <button type="button" class="btn btn-warning ">BookNow</button>
                              </div>
                            </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-xs-12">
                  <div class="carousel-cell">
                      <div class="carousel-cell">
                          <div class="gallery-item">
                              <a href="#" class="venobox" data-gall="gallery-item">
                                <img src="../../../../assets/Images/HotelImages/hi (7).png" alt="" class="img-fluid">
                              </a>
                              <div class="text-block">
                                <h4>Hotel Grand Kuber</h4>
                                <p>Hyderabad,Telangana</p>
                                <button type="button" class="btn btn-warning ">BookNow</button>
                              </div>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
